.chat-side
  .side-header
    .side-header__box
      .side-header__box__user-name
        Seo
      .side-header__box__menu
        =link_to "#", class: "side-header__box__menu__new-group" do
          =icon('fas', 'cog')
        =link_to "#", class: "side-header__box__menu__edit-user" do
          =icon('fas', 'edit')

  .groups
    .group
      .group__group-name
      sample
      .group__latest-message
      good bye world